.search-bar {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    margin: 100px;
}

.search-bar form {
    display: flex;
    flex-direction: column;
}

.search-label {
    font-size: 20px;
    padding: 5px 0px;
}
.search-input {
    padding: 10px;
    border-radius: 5px;
}